<html>
<head><title>{{pageName}}</title>
<link rel='stylesheet' href="/CSS/styles.css"></head>
<body>
    <div class="main-content">
    {{>header}}
   <p></p> <h1>{{Message}}</h1></p>
    </div>

   {{>footer}}
</body>

</html>