<!DOCTYPE html>
<head>
    <link rel='stylesheet' href="/CSS/styles.css">
    </head>
<body>
    <div class="main-content">
    {{>header}}
<!-- <h1>{{title}}</h1>
<p>{{name}}</p> -->
<img class="portrait" src="/img/Mask.png">
<p> A very enjoyable night was had by all concerned.  Although only 36 people attended, it was a good event.</p>
</div>
{{>footer}}
</body>

</html>