<!DOCTYPE html>
<head>
    <link rel='stylesheet' href="/CSS/styles.css">
    </head>
<body>
    <div class="main-content">
    {{>header}}
<h1>{{title}}</h1>
<p>{{message}}</p>
</div>

{{>footer}}
</body>

</html>